base-font = "Segoe UI", "Verdana", "Arial", "sans-serif"
title-font = "Segoe UI Light", "Helvetica", "Tahoma", "Verdana", "Arial", "sans-serif"

primary-color = #0072c6
primary-highlight-color = darken(primary-color, 15%)
//primary-active-highlight-color = lighten(primary-color, 15%)
link-color = primary-color
text-color = #333
inverted-text-color = white
disabled-color = #666

transition()
  -webkit-transition arguments
  transition arguments

transform()
  -webkit-transform arguments
  transform arguments

transform-origin()
  -webkit-transform-origin arguments
  transform-origin arguments

flexbox()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: flex

flexvertical()
  -webkit-box-orient: vertical
  -moz-box-orient: vertical
  -ms-flex-direction: column
  flex-direction: column

flex(weight)
  -webkit-box-flex: weight
  -moz-box-flex: weight
  -ms-flex: weight
  flex: weight


body
  color text-color 
  padding 20px 5%
  font-family base-font

h1, h2, h3
  font-family title-font
  margin 0.3em 0

h1
  font-size 32px

h2
  font-size 24px
  text-transform lowercase

h3
  text-transform uppercase
  font-size 14px
  font-weight bold

a, a:visited
  text-decoration none
  color primary-color
  &:hover
    color primary-highlight-color 

step-height = 300px
step-header-height = 45px

.content
  height step-height

article
  flexbox()
  > section
    position relative
    > h2
      transition all linear 300ms
      width step-height
    &:not(.ng-hide)
      flex(1)
    &.ng-hide
      display block !important
      background-color: white
      width step-header-height
      > h2
        position absolute
        transform translatey(40px) rotate(90deg)
        transform-origin bottom left
        width step-height
      .content
        display none
    &.ng-hide.ng-hide-remove-active
      > h2
        width step-height
      .content
        display block
        width 100%

/*.ng-hide-add, 
.ng-hide-remove 
  transition 2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all
  .content
    transition 2s cubic-bezier(0.250, 0.250, 0.750, 0.750) all

.ng-hide-add.ng-hide-add-active
  .content
    transform translatex(-100%)

.ng-hide-add
  .content
    transform translatex(0)

.ng-hide-remove.ng-hide-remove-active
  .content
    transform translatex(0)

.ng-hide-remove
  .content
    transform translatex(100%)
*/

// Metro styling
ul.accordion
  > li > h2 a
    padding 0.2em
    background-color primary-color
    color inverted-text-color
    &:hover, &:focus
      background-color primary-highlight-color
  > li.active > h2 a
    background-color primary-highlight-color
